body {
    font-family: "Gill Sans", sans-serif;
    ;
    background-color: #2b2b2b;
    color: white;
    margin: 0;
    padding: 0;
}

.top-section {
    display: flex;
    position: relative;
    background: white;
    color: black;
    margin: 40px auto;
    max-width: 900px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 300px;
}

.profile-pic {
    max-width: 300px;
    height: 100%;
    object-fit: cover;
}

.intro-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.intro-text h2 {
    margin: 0;
    font-weight: 400;
    /* not bold */
    font-size: 20px;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.social-icons img {
    width: 28px;
    margin-left: 10px;
    vertical-align: middle;
    transition: transform 0.2s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.sekilas {
    max-width: 900px;
    margin: 40px auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.sekilas-header {
    background-color: #1e1e1e;
    padding: 16px 24px;
}

.sekilas-header h3 {
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.sekilas-body {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 10px 5px 10px;
}

.sekilas-body a {
    color: #1a53ff;
    text-decoration: none;
    font-weight: bold;
}

.sekilas-body a:hover {
    text-decoration: underline;
}

.sekilas-body p {
    margin: 10px 0;
    line-height: 1;
}

.pendidikan {
    max-width: 900px;
    margin: 40px auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.pendidikan-header {
    background-color: #1e1e1e;
    padding: 16px 24px;
}

.pendidikan-header h3 {
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.pendidikan-body {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px 10px 10px;

}

.pendidikan .edu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.edu-logo {
    width: 35px;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
  }
  
  .edu-details p {
    margin: 6px 0;
    line-height: 1;
  }
  
  .pendidikan-body a:hover {
    text-decoration: underline;
  }
  
  .pendidikan-body p {
    margin: 10px 0;
    line-height: 1;
  }

.galeri {
    max-width: 900px;
    margin: 40px auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.galeri-header {
    background-color: #1e1e1e;
    padding: 16px 24px;
}

.galeri-header h3 {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.galeri-body {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 0px 0px 0px;
}

.galeri-body p {
    margin: 10px 0;
    line-height: 1.5;
    padding-left: 10px;
}

.tool-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;

}

.tool-gallery img {
    width: 100%;
    object-fit: cover;
}

.sorotan {
    position: relative;
    max-width: 900px;
    overflow: hidden;
}

.tool-gallery .sorotan img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
  }  

.info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: 20px;
    right: 20px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    font-size: 14px;

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    max-width: 300px;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.info a {
    color: #1a53ff;
}

.sorotan:hover .info {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.software {
    max-width: 900px;
    margin: 40px auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.software-header {
    background-color: #1e1e1e;
    padding: 16px 24px;
}

.software-header h3 {
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.software-body {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px 10px 10px;

}

.software .soft-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.soft-logo {
    width: 35px;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
  }
  
  .soft-details p {
    margin: 6px 0;
    line-height: 1;
  }
  
  .software-body a:hover {
    text-decoration: underline;
  }
  
  .software-body p {
    margin: 10px 0;
    line-height: 1;
  }